*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}

h1{
    text-align: center;
}

button{
    padding: 10px 20px;
    border: none;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}